User root
Host 39.105.135.169
HostName iZ2ze6dzka2qshqfjkgy68Z
Port 54322
StrictHostKeyChecking no
IdentityFile ~/.ssh/id_rsa
IdentitiesOnly yes
Protocol 2
Compression yes
ServerAliveInterval 60
ServerAliveCountMax 20
LogLevel INFO